<div class="masthead clearfix">
    <div class="inner">
        <nav data-fade-out="true">
            <ul class="nav masthead-nav">
                <li><a href="#/">Interface</a></li>
                <li><a href="#/plugins">Plugins</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="inner cover">

                <h2>Login</h2>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" data-ng-model="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" data-ng-model="password">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-3 col-xs-6">
                            <button type="submit" class="btn btn-primary btn-block" data-ng-click="login()">Login</button>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <button type="submit" class="btn btn-default btn-block" data-ng-click="register()">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>