<div class="dashboard container">
    <ul class="nav nav-tabs">
        <li data-ng-repeat="tab in tabs" data-ng-class="{active: activeTab === tab}"><a href data-ng-click="setActiveTab(tab)">{{tab.name}}</a></li>
    </ul>
    <br />
    <div data-ng-show="activeTab.key === 'create'">
        <div class="col-xs-4">
            <form>
                <div class="form-group">
                    <label for="filterFrom">Filter</label>
                    <input type="text" class="form-control" id="filterFrom" data-ng-model="fromExpressionFilterValue">
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="fromState" id="fromState1" value="transfer" data-ng-model="fromState">
                        Transfers the conversation
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="fromState" id="fromState2" value="continue" data-ng-model="fromState">
                        Continues the expression
                    </label>
                </div>
            </form>
            <ul class="list-unstyled from-expressions">
                <li data-ng-class="{'bg-primary': fromExpressions.indexOf(expression) >= 0}" data-ng-click="toggleFromExpression(expression)" data-ng-repeat="expression in expressions | filter:fromExpressionFilter">{{expression.value}}</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <form>
                <div class="form-group">
                    <label for="expression">Expression</label>
                    <input type="text" class="form-control" id="expression" placeholder="Question or Statement" data-ng-model="expressionText">
                </div>
                <button class="btn btn-primary" data-ng-click="submit()">Submit</button>
                <button class="btn btn-default" data-ng-click="testExpression(expressionText)">Test</button>
            </form>

            <br />

            <strong>Triggers</strong>
            <ul class="list-unstyled expression-triggers">
                <li data-ng-class="{'bg-primary': expressionTrigger === trigger}" data-ng-click="toggleExpressionTrigger(trigger)" data-ng-repeat="trigger in triggers">{{trigger.value}}</li>
            </ul>

            <strong>Injectors</strong>
            <ul class="list-unstyled expression-injectors">
                <li data-ng-class="{'bg-primary': expressionInjector === injector}" data-ng-click="toggleExpressionInjector(injector)" data-ng-repeat="injector in injectors">{{injector.value}}</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <form>
                <div class="form-group">
                    <label for="filterTo">Filter</label>
                    <input type="text" class="form-control" id="filterTo" data-ng-model="toExpressionFilterValue">
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="toState" id="toState1" value="transfer" data-ng-model="toState">
                        Transfers the conversation
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="toState" id="toState2" value="continue" data-ng-model="toState">
                        Continues the expression
                    </label>
                </div>
            </form>
            <ul class="list-unstyled to-expressions">
                <li data-ng-class="{'bg-primary': toExpressions.indexOf(expression) >= 0}" data-ng-click="toggleToExpression(expression)" data-ng-repeat="expression in expressions | filter:toExpressionFilter">{{expression.value}}</li>
            </ul>
        </div>
    </div>
    <div data-ng-show="activeTab.key === 'test'">
        <form data-ng-submit="testExpression(expressionText)">
            <div class="form-group">
                <label for="expression">Expression</label>
                <input type="text" autocomplete="off" class="form-control" id="expressionText" placeholder="Question or Statement" data-ng-model="expressionText">
            </div>
            <input type="submit" class="btn btn-primary" value="Test">
        </form>
        <br />
        <pre data-ng-show="testResult">{{testResult}}</pre>
    </div>
    <div data-ng-show="activeTab.key === 'inbox'">
        <table class="table">
            <tbody>
            <tr data-ng-repeat="item in inbox">
                <td>{{item.from.value}}</td>
                <td>{{item.relType}}</td>
                <td>{{item.to.value}}</td>
                <td style="text-align: right">
                    <a class="btn btn-success" href data-ng-click="setRelValidated(item.rel, true)"><span class="glyphicon glyphicon-ok"></span></a>
                    <a class="btn btn-danger" href data-ng-click="setRelValidated(item.rel, false)"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div data-ng-show="inbox.length === 0">
            <p style="text-align: center">
                <span>No items in the inbox.</span>
                <br /><br />
                <a href title="Refresh" data-ng-click="refreshInbox()"><span style="font-size: 3em" class="glyphicon glyphicon-refresh"></span></a>
            </p>
        </div>
    </div>
</div>