<div class="masthead clearfix">
    <div class="inner">
        <nav data-fade-out="true">
            <ul class="nav masthead-nav">
                <li class="active"><a href="#/">Interface</a></li>
                <li><a href="#/plugins">Plugins</a></li>
                <li data-ng-show="authenticatedUser"><a href data-ng-click="logout()">Logout</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="input">
    <div class="recording-indicator" data-ng-if="supportsSpeechRecognition" data-ng-click="toggleRecording()" data-ng-class="{active: recording}"></div>
    <span>&gt;</span>
    <div class="wrapper">
        <input id="input" autofocus="autofocus" autocomplete="off" type="text" data-ng-model="message" placeholder="Type message..." data-ng-keypress="handleKeyPress($event)"/>
    </div>
</div>

<div class="transcript-container">
    <div class="transcript" data-scroll-bottom="transcript">
        <div data-ng-repeat="message in transcript track by $index" class="message" data-ng-class="{ai: message.ai}">
            <div class="contents" data-fade-out="shouldFade($index)" data-with-scroll="true">
                <span>{{message.m}}</span>
                <div data-ng-bind-html="message.html"></div>
            </div>
        </div>
    </div>
</div>