<div class="masthead clearfix">
    <div class="inner">
        <nav data-fade-out="true">
            <ul class="nav masthead-nav">
                <li><a href="#/">Interface</a></li>
                <li class="active"><a href="#/plugins">Plugins</a></li>
                <li data-ng-show="authenticatedUser"><a href data-ng-click="logout()">Logout</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="content-wrapper">
    <h2>{{plugin.name}}</h2>

    <p><em>{{plugin.description}}</em></p>

    <div class="section" data-ng-show="plugin.examples.length > 0">
        <h3>Example Phrases</h3>
        <ul>
            <li data-ng-repeat="example in plugin.examples">{{example}}</li>
        </ul>
    </div>

    <div class="section" data-ng-show="authenticatedUser">

        <div data-ng-show="plugin.enabled">
            <h3>Configuration</h3>

            <p data-ng-show="!plugin.options">There are no plugin options to configure.</p>
        </div>

        <form class="form-horizontal">
            <div class="form-group" data-ng-repeat="(key, option) in plugin.options">
                <label for="{{$index}}" class="col-sm-2 control-label">{{option.name || key}}</label>
                <div class="col-sm-10" data-ng-if="!option.intentArray">
                    <input type="text" class="form-control" id="{{$index}}" data-ng-model="option.value" data-ng-disabled="option.oauth">
                    <div><small data-ng-show="option.description"><em>{{option.description}}</em></small></div>
                    <div data-ng-show="option.oauth"><br /><button type="button" class="btn btn-default" data-ng-click="startOauth(option)">Authenticate</button></div>
                </div>
                <div class="col-sm-10" data-ng-if="option.intentArray">
                    <div><small data-ng-show="option.description"><em>{{option.description}}</em></small></div>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Value</th>
                            <th>Trigger</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="intent in option.value">
                            <td><input class="form-control" type="text" data-ng-model="intent.value"></td>
                            <td><input class="form-control" type="text" data-ng-model="intent.trigger"></td>
                            <td><button type="button" class="btn btn-default btn-sm" data-ng-click="option.value.splice($index, 1)"><span class="glyphicon glyphicon-remove"></span></button></td>
                        </tr>
                        </tbody>
                    </table>
                    <a href class="btn btn-default" data-ng-click="option.value.push({})">Add Intent</a>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-xs-6 col-sm-4 col-sm-offset-2" data-ng-show="plugin.options">
                    <button type="submit" class="btn btn-primary btn-block" data-ng-click="updatePluginOptions()">Save</button>
                </div>
                <div data-ng-class="{'col-xs-6 col-sm-4': plugin.options, 'col-xs-12 col-sm-4': !plugin.options}" data-ng-show="authenticatedUser.admin">
                    <button data-ng-disabled="saving" data-ng-click="enablePlugin(plugin)" data-ng-if="!plugin.enabled" class="btn btn-primary btn-block">Enable</button>
                    <button data-ng-disabled="saving" data-ng-click="disablePlugin(plugin)" data-ng-if="plugin.enabled" class="btn btn-default btn-block">Disable</button>
                </div>
            </div>
        </form>
    </div>

    <div class="section">
        <p><i data-ng-show="!authenticatedUser">You must <a href="#/login">login</a> to change plugin settings.</i></p>
    </div>
</div>