<div class="masthead clearfix">
    <div class="inner">
        <nav data-fade-out="true">
            <ul class="nav masthead-nav">
                <li><a href="#/">Interface</a></li>
                <li class="active"><a href="#/plugins">Plugins</a></li>
                <li data-ng-show="authenticated"><a href data-ng-click="logout()">Logout</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="inner cover">

                <ul class="nav nav-tabs">
                    <li data-ng-repeat="tab in tabs" role="presentation" data-ng-class="{active: tab.active}" data-ng-click="setActiveTab($index)" data-ng-show="$index < 1 || authenticated">
                        <a href>{{tab.name}}</a>
                    </li>
                </ul>

                <br />

                <div class="tab-container">
                    <div data-ng-show="tabs[0].active">

                        <div class="text-center" data-ng-show="plugins.length === 0">
                            <p>No plugins are loaded. Click <a href data-ng-click="setActiveTab(1)">Find New Plugins</a> to search for plugins to install.</p>
                        </div>

                        <div data-ng-show="plugins.length > 0" class="table-container">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th style="width: 0"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="plugin in plugins">
                                    <td><a data-ng-href="/#/plugins/{{plugin.name}}">{{plugin.name}}</a></td>
                                    <td>{{plugin.description}}</td>
                                    <td>
                                        <button data-ng-disabled="saving" data-ng-click="enablePlugin(plugin)" data-ng-show="!plugin.enabled && authenticated" class="btn btn-primary">Enable</button>
                                        <button data-ng-disabled="saving" data-ng-click="disablePlugin(plugin)" data-ng-show="plugin.enabled && authenticated" class="btn btn-default">Disable</button>
                                        <span data-ng-show="!authenticated">{{plugin.enabled ? 'Enabled' : 'Disabled'}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div data-ng-show="tabs[1].active">

                        <div class="text-center" data-ng-show="loadingAvailable">
                            <p>Searching<span class="ellipsis-anim"><span>.</span><span>.</span><span>.</span></span></p>
                        </div>

                        <div class="text-center" data-ng-show="availablePackages.length === 0">
                            <p>No new plugins are available.</p>
                        </div>

                        <div data-ng-show="!loadingAvailable && availablePackages.length > 0">
                            <input type="text" class="form-control" placeholder="Filter..." data-ng-model="filter">

                            <div class="table-container">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th style="width: 0"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="package in availablePackages | filter:filter">
                                        <td>{{package.name}}</td>
                                        <td>{{package.description}}</td>
                                        <td>
                                            <button data-ng-disabled="saving" data-ng-show="authenticated" data-ng-click="installPackage(package)" class="btn btn-primary">Install</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <p><i data-ng-show="!authenticated">You must <a href="/#/login">login</a> to change plugin settings and add new plugins.</i></p>

            </div>

        </div>

    </div>
</div>