[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    margin: 0;
    font-family: "Courier New", monospace;
}

.recording-indicator {
    z-index: 1;
    right: 5px;
    top: 5px;
    cursor: pointer;
    background-image: url("images/mic-filled.png");
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    float: left;
    margin-right: 5px;
}
.recording-indicator:not(.active) {
    opacity: .8;
    background-image: url("images/mic.png");
}

.input,
.input:focus {
    position: absolute;
    width: 220px;
    left: 50%;
    top: 50%;
    margin-left: -110px;
    z-index: 1;
    color: rgb(202,253,255);
    text-shadow: 0 0 5px rgba(202,253,255,0.5);
}

.input input,
.input input:focus {
    background: transparent;
    outline: none;
    border: none;
    text-shadow: 0 0 5px rgba(202,253,255,0.5);
}

.transcript-container {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 300px;
    top: 0;
    margin-left: -150px;
    margin-bottom: 180px;
    z-index: 1;
    text-align: center;
    color: black;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
    -webkit-mask-image: -webkit-gradient(linear, left 30%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}
.transcript-container .transcript {
    overflow: auto;
    height: 100%;
    padding-top: 70%;
}
.transcript-container .transcript::-webkit-scrollbar {
    display: none;
}
.transcript-container .transcript .message {
    text-align: right;
    padding-left: 40px;
}
.transcript-container .transcript .message.ai {
    font-weight: bold;
    text-align: left;
    padding-right: 40px;
    padding-left: 0;
}

.vz-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 460, from(#396362), to(#000000));
    background: -webkit-radial-gradient(circle, #396362, #000000);
    background: -moz-radial-gradient(circle, #396362, #000000);
    background: -ms-radial-gradient(circle, #396362, #000000);
    box-shadow: inset 0 0 160px 0 #000;
}

.vz-wrapper .canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: initial;
    width: initial;
    background: transparent;
    box-shadow: none;
}

@media screen and (min-width: 420px) {
    .vz-wrapper {
        box-shadow: inset 0 0 200px 60px #000;
    }
}