[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*
 * Base structure
 */
html,
body {
    height: 100%;
    color: #aed0d0;
}
body {
    margin: 0;
    font-family: "Courier New", monospace;
}

/* Links */
a,
a:focus,
a:hover {
    color: #aed0d0;
}

input[type="number"],
input[type="password"],
input[type="text"],
select:focus,
textarea {
    font-size: 16px;
}

.recording-indicator {
    z-index: 1;
    right: 5px;
    top: 5px;
    cursor: pointer;
    background-image: url("images/mic-filled.png");
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    float: left;
    margin-right: 5px;
}
.recording-indicator:not(.active) {
    opacity: .8;
    background-image: url("images/mic.png");
}

.input {
    position: absolute;
    width: 96%;
    left: 2%;
    margin-right: -2%;
    bottom: 5px;
    margin-top: 20px;
    z-index: 1;
    color: rgb(202,253,255);
    text-shadow: 0 0 5px rgba(202,253,255,0.5);
    background-color: rgba(109, 171, 170,0.8);
    padding: 10px;
    border-radius: 10px;
}

.input .wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    left: 60px;
}

.input .wrapper input,
.input .wrapper input:focus {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background: transparent;
    outline: none;
    border: none;
    text-shadow: 0 0 5px rgba(202,253,255,0.5);
}
.input .wrapper input:placeholder-shown {
    text-shadow: none;
}
.input .wrapper input::placeholder {
    color: #ADD;
}

.transcript-container {
    position: absolute;
    bottom: 50px;
    width: 96%;
    left: 2%;
    margin-right: -2%;
    top: 60px;
    z-index: 1;
    text-align: center;
    color: black;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
    -webkit-mask-image: -webkit-gradient(linear, left top, left 80%, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)))
}
.transcript-container .transcript {
    overflow: auto;
    position: absolute;
    bottom: 0;
    max-height: 100%;
    width: 100%;
    padding-top: 100%;
    padding-bottom: 20px;
    -webkit-mask-image: -webkit-gradient(linear, left 95%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}
.transcript-container .transcript::-webkit-scrollbar {
    display: none;
}
.transcript-container .transcript .message {
    text-align: right;
    margin: 10px 0 10px 80px;
}
.transcript-container .transcript .message.ai {
    font-weight: bold;
    text-align: left;
    margin-right: 80px;
    margin-left: 0;
}
.transcript-container .transcript .message .contents {
    display: inline-block;
    color: rgb(202,253,255);
    text-shadow: 0 0 5px rgba(202,253,255,0.5);
    background-color: rgba(57, 99, 98, 0.8);
    padding: 8px 10px;
    border-radius: 10px;
    opacity: .8;
}
.transcript-container .transcript .message.ai .contents {
    opacity: 1;
    min-width: 70px;
}

@media (min-width: 768px) {
    .input {
        width: 500px;
        left: 50%;
        bottom: 100px;
        margin-left: -250px;
        padding: 20px;
    }

    .input .wrapper input,
    .input .wrapper input:focus {
        padding: 20px 0;
    }

    .transcript-container {
        top: 0;
        bottom: 200px;
        left: 50%;
        width: 600px;
        margin-left: -300px;
        -webkit-mask-image: -webkit-gradient(linear, left 20%, left 70%, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)))
    }
    .transcript-container .transcript {
        padding-bottom: 40px;
    }
    .transcript-container .transcript .message {
        margin: 20px 0 20px 100px;
    }
    .transcript-container .transcript .message.ai {
        margin-right: 100px;
    }
    .transcript-container .transcript .message .contents {
        padding: 15px 20px;
    }
}

.vz-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1000, from(#396362), to(#000000));
    background: -webkit-radial-gradient(circle, #396362, #000000);
    background: -moz-radial-gradient(circle, #396362, #000000);
    background: -ms-radial-gradient(circle, #396362, #000000);
    overflow: hidden;
}

.vz-wrapper .particles-js-canvas-el {
    opacity: 0.2;
}

@media (min-width: 768px) {
    .vz-wrapper .particles-js-canvas-el {
        opacity: 1;
    }
}

.content-wrapper {
    position: absolute;
    width: 100%;
    top: 80px;
    bottom: 0;
    overflow: auto;
    padding: 8px;
}

@media (min-width: 768px) {
    .content-wrapper {
        width: 600px;
        left: 50%;
        margin-left: -300px;
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .content-wrapper {
        width: 800px;
        left: 50%;
        margin-left: -400px;
        padding: 80px 20px 20px;
    }
}

.ellipsis-anim span {
    opacity: 0;
    -webkit-animation: ellipsis-dot 1s infinite;
    animation: ellipsis-dot 1s infinite;
}

.ellipsis-anim span:nth-child(1) {
    -webkit-animation-delay: 0.0s;
    animation-delay: 0.0s;
}
.ellipsis-anim span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.ellipsis-anim span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes ellipsis-dot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes ellipsis-dot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.site-wrapper {
    position: absolute;
    color: #ddd;
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/*
 * Header
 */
.masthead {
    padding-bottom: 20px;
    z-index: 2;
}
.masthead .inner {
    padding: 8px;
}
.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead .inner {
        padding: 30px;
    }
    .masthead-nav {
        float: right;
    }
}

/*
 * Cover
 */

.cover {
    padding: 8px;
}
.cover .section {
    margin-top: 60px;
}
.cover .section h3 {
    margin-bottom: 20px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
        right: 50%;
        margin-right: -350px;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }

    .cover {
        padding: 100px 20px;
    }
}

@media (min-width: 992px) {
    .masthead,
    .cover-container {
        width: 700px;
    }
}

.fade {
    height: 100%;
    width: 100%;
    position:absolute;
    opacity: 1;
    z-index: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}